---
- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Update apt and install docker-ce
  apt: update_cache=yes name=docker-ce state=latest

- name: Create "docker" group
  group:
    name: "docker"
    state: present

- name: Add remote {{ system_user }} to docker group
  user:
    name: "{{ system_user }}"
    group: "docker"
    append: yes
