name: ansible_linting

on:
  push:
    paths:
      - 'ansible/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: pip3 install ansible ansible-lint

      - name: Run Ansible lint
        run: |
          cd ansible
          ansible-lint webserver.yml
